<section id="footer-general">
	<div id="footer-logo">
		<img src="/img/iconos/logosolo.png" alt="">
		<p> 2018&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<a href="">Contacto</a>
		</p>
	</div>
	<p id="footer-texto">
		<a href="">Aviso Legal</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Privacidad</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Contratación</a>
	</p>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/navbar.js"></script>