<div id="navbar-boton-contenedor" class="navbar-boton-contenedor">
	<div id="navbar-boton" class="navbar-boton"></div>
	<a href="#"><img id="m-logo" class="m-logo" src="/img/iconos/logosolo.png" alt="Logo Ziur"></a>
</div>
<header id="menu-principal" class="menu-principal">
	<nav id="navbar" class="navbar">
		<ul>
			<li><a href="/fotografia">Fotografia</a></li>
			<li><a href="/video">Video</a></li>
			<li><a href="/diseno">Diseño</a></li>			
		</ul>
		<a href="/home"><img id="logo" class="logo" src="/img/iconos/logosolo.png" alt="Logo Ziur"></a>
		<ul>			
			<li><a href="/modelado">Modelado</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/sobre-mi">Sobre Mi</a></li>
		</ul>
	</nav>
</header>
<div class="fondo-barra"></div>