s<section class="foto-inicio">
	<img src="/img/blog.jpg" alt="">
</section>
<div id="espacio-vacio"></div>

<div id="btn-abajo-1" class="btn-abajo">
	<a href="#main"><span class="btn-span">Ver Entradas</span> 
	<br> 
	<i class="fas fa-angle-double-down"></i></a>
</div>

<h1 class="titulo-pagina" id="titulo-pagina">blog</h1>

<section id="main" class="main">
	<div class="descripcion-blog sub-main-impar sub-main-margen">
		<h1>El Blog</h1>
		<p>En este espacio encontrarás todo mi trabajo relacionado con la redacción. No solamente trabajos como tal, sino escritos propios relacionados con variados temas de mi interés.</p>
		<p>La idea de este espacio es dual; por un lado, mostrar tanto mi estilo de escritura y redacción como los temas que más me interesan y domino; y también justamente eso, opinar, dar una idea, una crítica, tal vez un consejo o una ayuda, acerca de un tema determinado.</p>
		<p>Podrás ver las diferentes categorías en las que están clasificadas las entradas, así podrás ver aquellas que te interesen más de acuerdo al tema del que quieras leer.</p>
		<p>Espero tus comentarios; para ellos no necesitas algo así como un registro, pero si es necesario proveer un correo para verificar algo de tu identidad; pero sobretodo espero que puedas disfrutar de las líneas, encontrar lo que necesitas o halles la razón del por qué estás en este sitio.</p>
	</div>
	<section id="sobre-mi-trabajos" class="sub-main-impar contenedor-imagenes-enlace sub-main-nomargen">
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="entradas">
			<a href="">
				<img src="/img/blog/Puntillito.jpg" alt="">
				<h1>ENTRADAS</h1>
			</a>
		</div>
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="registro" >
			<a href="/blog/registro">
				<img src="/img/blog/ave-1.jpg" alt="">
				<h1>REGISTRO</h1>
			</a>
		</div>
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="login">
			<a href="/blog/login">
				<img  src="/img/blog/DSC_0509.JPG" alt="">
				<h1>LOGIN</h1>
			</a>
		</div>
	</section>
</section>