<section class="foto-inicio">
	<img src="/img/diseno.jpg" alt="">
</section>
<div id="espacio-vacio"></div>

<div id="btn-abajo-1" class="btn-abajo">
	<a href="#main"><span class="btn-span">Ver Proyectos</span> 
	<br> 
	<i class="fas fa-angle-double-down"></i></a>
</div>

<h1 class="titulo-pagina" id="titulo-pagina">Diseño</h1>

<section id="main" class="main">
	
</section>