<section class="info-pagina">
	<section class="video-inicio">
		<video autoplay loop muted poster="/img/poster1.jpg">
			<source src="/videos/video1.mp4" type="video/mp4">
		</video>
	</section>
	<div id="espacio-vacio"></div>
	<div id="btn-abajo-1" class="btn-abajo">
		<a href="#main"><span class="btn-span">Ver más</span> 
	<br> 
	<i class="fas fa-angle-double-down"></i></a>
	</div>

	<h1 class="titulo-pagina" id="titulo-pagina">ziurfreelance</h1>
</section>

<section id="main" class="main">

	<section class="sub-main-impar sub-main-margen resumen">
		<div class="bio-primer-contenedor">
			<img id="foto-retrato" class="foto-retrato" src="/img/loro.jpg" alt="">
			<div id="texto-sobre-mi">
			<h2>HOLA!!</h2>
				<br>
				<p>Soy Jeferson, creador de este emprendimiento de creatividad digital. Soy completamente empírico en el manejo y desarrollo de todas estas herramientas, ya que todo esto empezó como un pasatiempo al que le he dedicado bastante tiempo; me gusta la capacidad casi ilimitada de crear y recrear diversas cosas digitalmente (entendiendo cosa en su significado más "ontológico"), y por medio del modelado, la fotografía, el diseño en general, he encontrado una gran herramienta para poder explotar dicha capacidad, y no tener más limites que mi imaginación.</p>
			</div>
		</div>
		<a id="btn-sobre-mi-inicio"class="btn btn-blanco btn-centrado" href="<?php echo RUTA_BIO?>">Más sobre mi</a>
	</section>

	<section id="trabajos-home" class="sub-main-par sub-main-nomargen contenedor-imagenes-enlace">
		<div class="imagen-enlace" id="fotografiafoto">
			<a href="<?php echo RUTA_FOTOGRAFIA?>">
				<img  src="/img/fotografia.jpg" alt="">
				<h1>FOTOGRAFIA</h1>
			</a></div>
		<div class="imagen-enlace" id="videofoto" >
			<a href="<?php echo RUTA_VIDEO?>">
				<img src="/img/video.jpg" alt="">
				<h1>VIDEO</h1>
			</a>
		</div>
		<div class="imagen-enlace" id="disenofoto">
			<a href="<?php echo RUTA_DISENO?>">
				<img src="/img/diseno.jpg" alt="">
				<h1>DISEÑO</h1>
			</a>
		</div>
		<div class="imagen-enlace" id="modeladofoto">
			<a href="<?php echo RUTA_MODELADO?>">
				<img src="/img/modelado.jpg" alt="">
				<h1>MODELADO</h1>
			</a>
		</div>
		<div class="imagen-enlace" id="blogfoto">
			<a href="<?php echo RUTA_BLOG?>">
				<img src="/img/blog.jpg" alt="">
				<h1>BLOG</h1>
			</a>
		</div>
	</section>

	<section class="sub-main-par sub-main-margen contenedor-comentarios">

		<h1>Opiniones de algunos clientes en marketplaces</h1>

		<div class="comentarios">
			
			<div class="comentario">
				<div class="titulo-comentario">
					<img src="https://wkncdn.com/newx/assets/build/img/logos/default_logo_1-normal.1bf7c25c0.png" alt="">
					<div class="titulo-texto-comentario">
						<h3><a href="https://www.workana.com/e/0f913ccc70bcbf89dc2a22d1316df11b">Priscilla</a></h3><br>
						<h5>En <a href="https://www.workana.com/job/infografia-de-after-effects">Infografia de After Effects</a></h5>
					</div>
				</div>
				<div class="contenido-comentario">
					<p>"Jeferson es muy responsable y trabajador, está atento a todo tipo de comentario y entrega todo a tiempo"</p>
				</div>
				<a class="btn btn-centrado btn-azul" href="https://www.workana.com/freelancer/29fcb8f77430ebd4a281d71f0761c6bf?ref=user_dropdown">VER EN MARKETPLACE</a>
			</div>

			<div class="comentario">
				<div class="titulo-comentario">
					<img src="https://wkncdn.com/newx/assets/build/img/logos/default_logo_5-normal.76bc615f4.png" alt="">
					<div class="titulo-texto-comentario">
						<h3><a href="https://www.workana.com/e/6db4e9486752463bf518750b4c44a08f">Enzo B.</a></h3><br>
						<h5>En <a href="https://www.workana.com/job/crear-y-editar-videos">Crear y editar videos</a></h5>
					</div>
				</div>
				<div class="contenido-comentario">
					<p>"Un trabajo perfecto."</p>
				</div>
				<a class="btn btn-centrado btn-azul" href="https://www.workana.com/freelancer/29fcb8f77430ebd4a281d71f0761c6bf?ref=user_dropdown">VER EN MARKETPLACE</a>
			</div>

			<div class="comentario">
				<div class="titulo-comentario">
					<img src="https://workana.s3.amazonaws.com/logos/7e/22a1a0105a11e880f9c37d058b83a6/AAEAAQAAAAAAAAa5AAAAJGFjZWY1ZTgyLTNmYzItNDVkOS05M2I3LWY2MzRmMjFiNzBjNQ.png" alt="">
					<div class="titulo-texto-comentario">
						<h3><a href="https://www.workana.com/e/5f0c73df6202f21800ced8bd60670704">Natalia Mella</a></h3><br>
						<h5>En <a href="https://www.workana.com/job/copia-de-diseno-3d-para-molde-stl">Copia de Diseño 3d para molde - Stl</a></h5>
					</div>
				</div>
				<div class="contenido-comentario">
					<p>"Todo muy bien, el trabajo se realizó según lo acordado."</p>
				</div>
				<a class="btn btn-centrado btn-azul" href="https://www.workana.com/freelancer/29fcb8f77430ebd4a281d71f0761c6bf?ref=user_dropdown">VER EN MARKETPLACE</a>
			</div>

			<div class="comentario">
				<div class="titulo-comentario">
					<img src="https://www.f-cdn.com/assets/img/facebook/default-04d56222.jpg" alt="">
					<div class="titulo-texto-comentario">
						<h3><a href="https://www.freelancer.com.ar/u/frickermartin">frickermartin</a></h3><br>
						<h5>En <a href="https://www.freelancer.com.ar/contest/Design-of-a-Coin-1133708.html">Design of a Coin</a></h5>
					</div>
				</div>
				<div class="contenido-comentario">
					<p>“He is very patient and did a very good job. will hire him again”</p>
				</div>
				<a class="btn btn-centrado btn-azul" href="https://www.freelancer.com.ar/u/jefryruiz#/reviews">VER EN MARKETPLACE</a>
			</div>
			
		</div>
	</section>
</section>

