<section class="foto-inicio">
	<img src="/img/blog/ave-1.jpg" alt="">
</section>
<div id="espacio-vacio"></div>

<div id="btn-abajo-1" class="btn-abajo">
	<a href="#main"><span class="btn-span">Ingresar</span> 
	<br> 
	<i class="fas fa-angle-double-down"></i></a>
</div>

<h1 class="titulo-pagina" id="titulo-pagina">Ingreso de Autor</h1>

<section id="main" class="main">
<div class="login">
	<div class="registro-titulo">
		<h2>INICIO DE SESIÓN</h2>
	</div>
	<div class="registro-formulario">
		<form role="form" method="post" action="login">
			<h3>Introduce tus datos</h3>
			<div class="dato-formulario">
				<label for="email" class="dato-nombre">Email</label>
				<input class="dato-texto" name="email" type="email" placeholder="Correo eléctronico" required autofocus>
				<small class="dato-texto">No compartimos tu información con nadie más.</small>
			</div>

			<div class="dato-formulario">
				<label for="clave" class="dato-nombre">Contraseña</label>
				<input class="dato-texto" name="clave" type="password" placeholder="Contraseña" required>
			</div>
			<br>
			<button name="login" type="submit" class="btn btn-centrado btn-azul">Ingresar</button>
		</form>
	</div>
	<div>
		<a id="enlace-recuperacion-clave"href="#">¿Olvidaste tu contraseña?</a>
	</div>
	</div>
</section>
