<section class="info-pagina">
	<section class="foto-inicio">
		<img src="/img/sobre-mi/sobre-mi-cocina.jpg" alt="">
	</section>
	<div id="espacio-vacio"></div>

	<div id="btn-abajo-1" class="btn-abajo">
		<a href="#main"><span class="btn-span">Ver CV</span> 
		<br> 
		<i class="fas fa-angle-double-down"></i></a>
	</div>

	<h1 class="titulo-pagina" id="titulo-pagina">Cocina</h1>
</section>


<section id="main" class="main-cocina">

	<div id="info-cocina" class="sub-main-margen sub-main-impar">
		<div class="titulo-perfil-cocina">jeferson ruiz</div>
		<div id="img-cocina">
			<div id="contenedor-imagen-perfil-cocina">
				<img src="/img/sobre-mi/perfil-cocina.jpg" alt="">
			</div>
		</div>
		<div class="datos-cocina">
			<ul>
				<li><span class="icon-datos icon-birthday-cake"></span><p>28 años</p></li>
				<li><span class="icon-datos icon-whatsapp"></span><p>(+54-9) 294-4341604</p></li>
				<li><span class="icon-datos icon-map-marker"></span><p>CABA, Argentina</p></li>
				<li><span class="icon-datos icon-envelope"></span><p>jefryruiz@gmail.com</p></li>
				<li class="ultimo-dato"><span class="icon-datos icon-globe"></span><p>Colombia</p></li>
			</ul>
		</div>
	</div>
	
	<div id="perfil-cocina" class="sub-main-par sub-main-margen">
		<h2>PERFIL PROFESIONAL</h2>
		<br>
		<blockquote class="cita-libro-aderecha">"Por último están los Mercenarios: gente que trabaja por dinero y trabaja bien. Personas que, a pesar de no sentir demasiado cariño por la cocina ni inclinaciones culinarias, tienen un nivel alto porque están bien pagados... y porque son profesionales.” *</blockquote>
		<br>
		<div class="perfil-texto">
			<p>Cualquiera que me conozca, ya sea por las vicisitudes de una cocina, o por los caminos que se cruzan las diferentes etapas de la vida, sabe perfectamente que el hecho de que sea cocinero no es precisamente por pasión o vocación, o porque me guste estar 10-12 horas preparando comida para los demás, o porque crea que en la gastronomía hay algo interesante para mí; nada de eso, yo soy cocinero porque en su momento me pareció una buena forma de poder conseguir algo de dinero y no sentirme un inútil dentro de mi propia casa.</p>
			<br>
			<p>Pero a pesar de todo, durante este tiempo que he trabajado he sido capaz de realizar trabajos con gran sentido de responsabilidad y con gran calidad, y esto porque para mí, independientemente del tipo de trabajo (sea una cocina, un salón, un bar, o una oficina), un trabajador debe tener siempre estas características, máxime si ese trabajador está en ese lugar por su propia voluntad, asi no sea el sueño de su vida.</p>
			<br>
			<p>Siempre que me preguntan si soy un buen cocinero, o qué tan alto es mi nivel en cocina (en las diferentes variantes en las que pueda venir este tipo de preguntas), siempre digo lo mismo:</p>
			<br>
			<p>Eso es algo que yo no puedo determinar porque, aunque yo sea consiente de mis capacidades y limitaciones, al final lo bueno o lo malo de mi trabajo se va a ver cuándo todas esas características mías se acoplen, o no, a las necesidades propias del establecimiento. Ya me ha pasado que, algo que yo creo una cualidad en mi trabajo, el orden y la limpieza, termina siendo en el mejor de los casos una molestia para los compañeros de trabajo, tal vez porque para ellos estoy haciendo más de lo que debería. Al final todo dependerá de las necesidades de cada cocina.</p>
			<br>
			<p>Lo que sí creo que puedo decir, es que soy un buen trabajador, y esto porque, como ya dije, tengo un gran sentido de responsabilidad y de calidad, que es algo que debería ser indistinto del tipo de labor que se ejerza.</p>
			<br>
			<p>Ya como cocinero, mis capacidades están orientadas principalmente al orden, a la limpieza, a la prolijidad, a tratar de ser eficiente y a tratar de no desperdiciar recursos (no solamente en cuanto a materia prima, sino a cosas como tiempo, espacio, y capacidad de trabajo), también poseo gran capacidad de aprendizaje y retentiva, por lo que acoplarme a un sitio de trabajo, siempre que este ordenado, no es algo que se me dificulte mucho, además con esto puedo aprender rápidamente las diferentes preparaciones y procesos que se realicen en la cocina.</p>
			<br>
			<p>Tengo gran capacidad de trabajar en equipo, fomentando el respeto y la cordialidad con mis compañeros, siempre dispuesto a ayudar, y evitando en lo posible generar malos ambientes laborales, ya sea por cuestiones laborales, o por cosas más personales, aunque por esto último estoy seguro que, de mi parte, nunca se van a generar (de hecho, nunca se han generado en mi tiempo de cocinero), ya que trato de no mezclar mi vida personal y la de los demás en el trabajo.</p>
			<br>
			<p>Poseo además los conocimientos en el área del servicio, desde la cocina, como profesión y como industria, mi mayor fortaleza laboral, y desde el servicio de comedor y atención directa a los clientes (Operaciones básicas, preparaciones, administración, atención al cliente, HACCP, BPM, etc.) conocimientos básicos en licores, reparación de cocteles y de bebidas con café. </p>
			<br>
			<p>Finalmente, dado algunos estudios paralelos a la cocina, tengo conocimientos en física y matemática avanzada, manejo de software usuales con eficiencia y otros más especializados (este sitio, y sus diferentes paginas pueden hablar mejor de esto) lo que me dota de una gran capacidad de aprendizaje de nuevos softwares, como programas contables y financieros.</p>
			<br>
			<p>En resumen, solo espero dar lo mejor de mí en una cocina, y en cualquier otro ámbito donde se requiera mi trabajo, siempre desde el respeto, y procurando aprender y mejorar día a día.</p>
			<br>
		</div>
		<p class="footnote-perfil">*Anthony Bourdain, 'Confesiones de un chef', pag. 52 de la versión española.</p>
	</div>
	
	<div id="experiencia" class="sub-main-impar sub-main-margen">
			<h2>EXPERIENCIA Y APRENDIZAJE</h2>
			<h3>Linea del tiempo</h3>
		<div id="experiencia-cocina">
			<div class="contenedor-linea-tiempo">
				<div id="linea-tiempo">
					{{> linea-tiempo }}
				</div>
			</div>
			<div id="trabajos">
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Kunstmann</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-kunstmann">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/kunstmann.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Kunstmann/@-41.1216369,-71.397486,18z/data=!3m1!4b1!4m5!3m4!1s0x961a7097c399e80f:0x321d09397deca246!8m2!3d-41.1216369!4d-71.3966174">San Carlos de Bariloche</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Noviembre de 2017</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Junio de 2018</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9) 294 431 3914</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://cerveza-kunstmann.cl/la-cerveceria/kunstmann-bariloche/">Sitio Web</a>, <a href="https://www.facebook.com/KunstmannAr">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Iniciando como encargado de los fritos, pasando posteriormente a la cocina caliente, fui trabajando en las diferentes áreas de la cocina. Mis funciones principalmente eran el mise en place de mi plaza, que podía variar de acuerdo a las diferentes circunstancias del día, producción en general, máxime si estaba bajo el stock de alguna preparación, o cuando se estuviera en un día con un servicio tranquilo. También era mi responsabilidad el despacho de mi área durante las horas de servicio.</p>
						<br>
						<p>Finalmente, dentro de mis funciones estaban la limpieza y organización de los diferentes espacios de trabajo principalmente durante la finalización de la jornada laboral, como la rotulación y control de producción que se realizaba durante el día.</p>
					</div>
				</div>
								
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Quatre</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-quatre">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/quatre.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://wego.here.com/directions/mix//Quatre,-24-de-Septiembre-150,-8400-San-Carlos-de-Bariloche:e-eyJuYW1lIjoiUXVhdHJlIiwiYWRkcmVzcyI6IjI0IGRlIFNlcHRpZW1icmUgMTUwLCBTYW4gQ2FybG9zIGRlIEJhcmlsb2NoZSIsImxhdGl0dWRlIjotNDEuMTM3NTM4NDY4NjM3LCJsb25naXR1ZGUiOi03MS4zMTM3MTQ5ODEwNzksInByb3ZpZGVyTmFtZSI6ImZhY2Vib29rIiwicHJvdmlkZXJJZCI6MTg3NDkzOTgxNjE1OTYyNH0=?map=-41.13713,-71.31346,17,normal&fb_locale=es_LA">San Carlos de Bariloche</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Abril de 2017</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Agosto de 2017</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9) 294 443 4774</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://cerveza-kunstmann.cl/la-cerveceria/kunstmann-bariloche/">Sitio Web</a>, <a href="https://www.facebook.com/qrestaurantebrc/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Encargado de todo lo relacionado con la cocina del restaurante; despacho y servicio de platos, mise en place de las diferentes áreas, preparación de salsas, empanadas, apanados, postres, diferentes tipos de sorrentinos y lasañas, y en general de toda la producción de la cocina.</p>
						<br>
						<p>Entre mis funciones además estaban la toma de pedidos, el control de la materia prima, del stock de las heladeras y freezers, además de la organización y limpieza de la cocina al finalizar el servicio.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Dagda</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-dadga">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/dagda.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Dagda+House+Beer/@-41.1180583,-71.4034823,15z/data=!4m5!3m4!1s0x0:0x9a228419d94c2f42!8m2!3d-41.1180583!4d-71.4034823">San Carlos de Bariloche</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Agosto de 2015</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Abril de 2017</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9) 294 446 2365</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://cerveza-kunstmann.cl/la-cerveceria/kunstmann-bariloche/">Sitio Web</a>, <a href="https://www.facebook.com/dagdabeerhouse/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Iniciando los primeros dos meses como franquero y ayudante los fines de semana, pasando a trabajar tiempo completo, y finalmente durante mis últimos 6 meses de trabajo allí como jefe de cocina. </p>
						<br>
						<p>Realización de formatos para pedidos y control de producción, elaboración de recetas estándar para administración; encargado de la producción, principalmente de panes y las pizzas; mise en place en general, realización de pedidos de materia prima, control de stocks; organización y limpieza de la cocina durante y luego del servicio.</p>
						<br>
						<p>También, como trabajo paralelo, realicé el diseño de la carta para el salón. Este trabajo puede ser visto en este enlace.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Pioneros</div>				
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-pioneros">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/pioneros.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/PIONEROS+Patio+Cervecero/@-41.137571,-71.3212976,15z/data=!4m5!3m4!1s0x0:0xa19bd06ead9a8ca8!8m2!3d-41.137571!4d-71.3212976">San Carlos de Bariloche</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Marzo de 2016</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Abril de 2016</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9)  294 443 308</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="https://pionerospatiocervecero.com/home">Sitio Web</a>, <a href="https://www.facebook.com/PionerosOK/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Contratado una semana antes de su apertura al público; inicialmente para formar parte del equipo definitivo de cocina, enfocado a la producción de los diferentes panes y pizzas, y básicamente a toda la producción necesaria para el funcionamiento de la cocina.</p>
						<br>
						<p>Encargado como ya se dijo de las masas, también estaba dentro de mis funciones el porcionado y la producción de hamburguesas, escabeches y salsas, mise en place para las diferentes tablas de fiambres y quesos; también hacia parte de la limpieza y organización de la cocina y todos los diferentes espacios relacionados con ella, como el almacén y el cuarto frio.</p>
						<br>
						<p>El tiempo fue breve, ya que estaba trabajando al mismo tiempo en Dagda, y el agotamiento no me permitió seguir trabajando con eficiencia en ninguno de los dos sitios.</p> 

					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Llao Llao</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-llao">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/llao.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COMMIS DE COCINA</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Llao+Llao+Hotel+%26+Resort/@-41.0576342,-71.5334469,17z/data=!3m1!4b1!4m7!3m6!1s0x961a886f9dea0175:0x3a42b93d77aef41f!5m1!1s2018-07-30!8m2!3d-41.0576342!4d-71.5312582">San Carlos de Bariloche</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Diciembre de 2015</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Enero de 2016</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9) 294 444 5748</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://llaollao.com/">Sitio Web</a>, <a href="https://www.facebook.com/llaollaohotel/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Tuve la oportunidad de trabajar en el Llao Llao durante parte del verano de 2015-2016; en un principio como parte de los cocineros destinados al casino del hotel, allí mis labores consistían básicamente ayudar en la preparación de los desayunos y almuerzos de los empleados del restaurante, atender y mantener el puesto de comidas siempre lleno y en condiciones de temperatura adecuadas para ser consumidos.</p>
						<br>
						<p>Luego pasé como comis de cocina en el cuarto frío (cocina fría), donde se me encargaban todas las tareas básicas de la producción (fetear, limpiar y desinfectar verduras, frutas y hortalizas, retiras pieles, etc.).</p>
						<br>
						<p>Los puestos eran solo eventuales.</p>
					</div>
				</div>

				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Oliver</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-oliver">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/oliver.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Oliver+Bakery/@4.6787467,-74.0478394,17z/data=!3m1!4b1!4m7!3m6!1s0x8e3f9a910925a587:0x5d626434903b7ecf!5m1!1s2018-07-30!8m2!3d4.6787467!4d-74.0456507">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Junio de 2014</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Febrero de 2015</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57) 617 0089</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="https://www.facebook.com/oliverbakeryandbistro/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Contratado para la apertura del restaurante, mis funciones consistían en realizar la producción necesaria para la cocina, mise en place, y servicio de platos del menú. Ocasionalmente también podría realizar algunos panes y masas para los diferentes productos de repostería, panadería y pastelería que se ofrecían, llegando incluso a proponer un par de ellos que fueron aceptados e introducidos a los productos a ofrecer.</p>
						<br>
						<p>Como parte de mi trabajo, de forma paralela, se me encargó la realización del manual de aseo y desinfección de la cocina del restaurante, para poder estar en norma con la legislación de la ciudad; este trabajo se puede ver en este enlace.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Chamberí</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-chamberi">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/Chaberi.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com.ar/maps/place/Chamber%C3%AD+Restaurante+y+Tapas/@4.6739487,-74.0544647,16.33z/data=!4m8!1m2!2m1!1scibeles+bogota!3m4!1s0x8e3f9a5eb8775259:0xb47925dd1fbecd44!8m2!3d4.6707751!4d-74.0540383">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Noviembre de 2013</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Junio de 2014</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 636 5288</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="https://www.facebook.com/CibelesRestaurante/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Durante mi trabajo en Chamberí siempre estuve dedicado al puesto de los arroces, preparando todo el mise en placa relacionado con esta plaza, además obviamente del servicio.</p>
						<br>
						<p>Además de los diferentes arroces (melosos, caldosos y paellas), también estaba a mi cargo la elaboración de las sopas y de las guarniciones para los platos e parrilla y plancha, además de la presentación de algunas entradas calientes.</p>
						<br>
						<p>Con todo, dado que la cocina no era tan grande (en total éramos 5 personas dedicadas a la cocina), también podría preparar platos del área fría, como ensaladas, tartares y postres, y de tanto en tanto, más para poder aprender, preparaba mise en place y hacia producción de esta área.</p>
						<br>
						<p>Aprendí mucho en este restaurante!</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Gigis</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-gigis">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/Gigislogo.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/GIGIS+WINE+MARKET/@4.651152,-74.055469,15z/data=!4m5!3m4!1s0x0:0x42d75360790a880f!8m2!3d4.6511525!4d-74.0554692?hl=es-AR">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Junio de 2013</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Noviembre de 2013</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 755 7237</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://gigis.com.co/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>En Gigi´s tuve la oportunidad de estar en todas las áreas de la cocina, dado que era el más novato y de los más jóvenes.</p>
						<br>
						<p>Empecé en el área de cocina fría, donde estaba a cargo de las diferentes ensaladas, entradas frías (tablas de fiambres, quesos, carnes y marítimas), con toda su respectiva mise en place y producción. También en esta área estaba encargado de los postres del restaurante.</p>
						<br>
						<p>Luego pasé brevemente por el área de la parrilla, sirviendo los diferentes cortes de carne los términos de cocción pedidos, los pescados y aves grillados, y algunas entradas como el pulpo a la diabla, que recuerdo especialmente bien.</p>
						<p>Finalmente quedé con el puesto de la cocina caliente, dedicado principalmente a las pastas, risottos y sopas, además de algunas guarniciones.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Saja</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-saja">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/saja.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Saja+Restaurante+Caf%C3%A9/@4.6346816,-74.078422,15z/data=!4m5!3m4!1s0x0:0xc10a1d6ba872aeeb!8m2!3d4.6346816!4d-74.078422">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Diciembre de 2012</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Junio de 2013</p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Trabajé en Saja mientras estudiaba en la Universidad Nacional, ya que me quedaba bastante cerca, y de las clases podía ir a trabajar sin perder mucho tiempo ni dinero.</p>
						<br>
						<p>Aunque el restaurante tenía un menú establecido, normalmente en las horas de la tarde se procuraba vender el plato que se preparaba para ofrecer al almuerzo, dada la cercanía con la Universidad y con otros establecimientos, donde las personas buscan almorzar, más que salir a comer, razón por la que se ofrecían platos más bien tradicionales y comunes.</p>
						<br>
						<p>En la noche el restaurante ofrecía los platos a la carta, junto con la coctelera y el café. La carta estaba compuesta con varios tipos de bocados como kebabs o sanduches de pan árabe, tostados, y picadillas de carnes variadas, también una pequeña tabla de quesos y fiambres. </p>
						<br>
						<p>Mi trabajo consistía en trabajar durante el servicio en las horas de la noche (con todo lo que eso significa; mise en place, servicio, aseo y organización), además de realizar la producción de algunas cosas para el servicio de la tarde del día siguiente.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">The Monkey House</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-monkey">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/monkey.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>MOZO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com.ar/maps/place/The+Monkey+House/@4.654396,-74.0600157,17z/data=!4m12!1m6!3m5!1s0x8e3f9a430d4281c5:0xa436ff750702d4d!2sThe+Monkey+House!8m2!3d4.654396!4d-74.057827!3m4!1s0x8e3f9a430d4281c5:0xa436ff750702d4d!8m2!3d4.654396!4d-74.057827">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Junio de 2012</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Diciembre de 2012</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 805 8648</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://www.themonkeyhouse.co/">Sitio Web</a>, <a href="https://www.facebook.com/themonkeyhousebogota/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>En el Monkey House trabajé como mozo/mesero. Dado que en esos tiempos había estudiado el técnica de mesa y bar en el SENA, pude entrar a trabajar para poner en práctica algunas de las cosas aprendidas en ese curso.</p>
						<br>
						<p>The Monkey House es un gastropub, muy al estilo inglés (el dueño lo es), dedicado a ofrecer una gran variedad de cervezas de todos lados del mundo, y en menor medida algunas cervezas artesanales de las casas cerveceras de Colombia.</p>
						<br>
						<p>En cuanto a la cocina, es una especie de fusión entre los clásicos platos ingleses y preparaciones con bases hindúes, principalmente arroces y guisos, todo muy condimentado.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">La Forchetta</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-laforchetta">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/laforchetta.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com.ar/maps/place/La+Forchetta,+Pizza+Y+Pasta/@4.6773016,-74.1191326,17z/data=!4m12!1m6!3m5!1s0x8e3f9b7b495c4919:0xa9777d08d1769283!2sLa+Forchetta,+Pizza+Y+Pasta!8m2!3d4.6773016!4d-74.1169439!3m4!1s0x8e3f9b7b495c4919:0xa9777d08d1769283!8m2!3d4.6773016!4d-74.1169439">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Junio de 2011</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Mayo de 2012</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 263 8374</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="https://www.facebook.com/La-Forchetta-Cucina-Italiana-Mediterranea-438200039598829/">Facebook</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>La forchetta es un pequeño restaurante de cocina mediterránea que, por su ubicación, tenía como clientela principal a trabajadores de las oficinas cercanas al aeropuerto y también de la zona comercial. </p>
						<br>
						<p>El menú se centraba en pastas de rápida preparación, todas de corte clásico como la napolitana o la boloñesa; también se servían algunas ensaladas, lasañas y pizzas.</p>
						<br>
						<p>Mi trabajo consistía en realizar toda la mise en place correspondiente, entre ello las masas para las pizzas, la precocción de pastas, la preparación de las salsas y su respectivo porcionado; también debido a lo pequeño del sitio, eventualmente atendía a los clientes, y realizaba labores de caja.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">SoloWrap</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-solowrap">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/solowraps.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>COCINERO</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Gimnasio+Campestre/@4.7417916,-74.0259553,15z/data=!4m5!3m4!1s0x0:0x5deb973ce1169d63!8m2!3d4.7417916!4d-74.0259553">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Noviembre de 2010</p></li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Enero de 2011</p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Solowrap como su nombre lo indica, es un restaurante especializado en los platos consistentes en rellenos envueltos de masas, en este caso particular, con masas de pan árabe. Los rellenos son bastante variados, con carnes cono roast beef, pollo, cerdo, o mariscos, también se ofrecen quesadillas y algunos platos de picar como nachos, y algunas ensaladas.</p>
						<br>
						<p>Mi trabajo durante el tiempo que estuve allí consistía en realizar la producción y mise en place, y preparar los diferentes platos durante el servicio.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">Gimnasio Campestre</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="trabajo-gimnasio">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/exp/gimnasio-campestre.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-flame"></span><p>AUX. de COCINA</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/Gimnasio+Campestre/@4.7417916,-74.0259553,15z/data=!4m5!3m4!1s0x0:0x5deb973ce1169d63!8m2!3d4.7417916!4d-74.0259553">Bogotá D.C.</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Abril de 2010</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Octubre de 2010</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 668 4400</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://www.campestre.edu.co/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Más que una experiencia laboral como tal, que lo fue ciertamente, esta fue la etapa práctica de mi formación como tecnólogo en cocina del SENA, institución donde me formé como cocinero.</p>
						<br>
						<p>La cocina estaba destinada al servicio de desayunos del personal de colegio y los niños pequeños, y en la tarde al almuerzo de todos los integrantes.</p>
						<br>
						<p>Los menús se establecían mensualmente y no eran platos ni muy difíciles ni muy especiales, eran comidas comunes en Colombia; lo interesante era que la cocina tenía que alimentar a 1200 personas diariamente.</p>
						<br>
						<p>Mis labores variaban día a día, dependiendo de las necesidades de la cocina, pasando por los diferentes puestos de trabajo (Cocina fría, cocina caliente, plancha y parrilla, o el almacén), pero normalmente no eran cosas muy avanzadas o complejas, en parte porque estaba allí como aprendiz, y en parte porque la cocina en sí misma no era muy complicada generalmente.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">FUDE - Diseño Gráfico</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="formacion-fude">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/formacion/fude.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-mortar-board"></span><p>Curso de Diseño Gráfico</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p>Argentina</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Mayo de 2016</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Noviembre de 2016</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+54 9) 342 456-6975</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="https://www.educativo.net/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Este es un curso a distancia para aprender a manejar de manera básica las herramientas de diseño gráfico más utilizadas, y poder de esta manera incursionar en el mundo del diseño gráfico como trabajador.</p>
						<br>
						<p>El curso tomó 6 meses de realización y fue un gran complemente a las demás cosas que ya sabía tanto de diseño como de creación y maquetación de formatos, manuales, libros y demás documentos.</p>
						<br>
						<a class='btn btn-azul btn-centrado' href="/pdf/certificado-fude.pdf">Ver certificado</a>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">UNAL - Filosofía</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="formacion-filosofia">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/formacion/nacional.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-mortar-board"></span><p>Estudiante de Filosofía</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com.ar/maps/place/Universidad+Nacional+de+Colombia/@4.6381938,-74.0862351,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9bd14943c13b:0x3de530667d9ff6b0!8m2!3d4.6381938!4d-74.0840464">Bogotá D.C</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Junio de 2013</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Enero de 2015</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 316 5000</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://unal.edu.co/">Sitio Web</a></p></li>
							</ul>

						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Durante mi búsqueda personal, estudié filosofía en la Universidad Nacional de Colombia.</p>
						<br>
						<p>Fue un año y medio entre el estudio y los diferentes trabajos de cocina por los que pasé en aquella época. Aprendí mucho sobre las diferentes formas de pensar y entender el mundo y, sobre todo, al hombre como ser pensante; además mejoré increíblemente mis capacidades de escritura, lectura, comprensión y habla.</p>
						<br>
						<p>No puedo negar que siempre tendré vocación de academia, no tanto de fogones y sartenes.</p>
						<br>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">SENA - Mesa y bar</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="formacion-mesa">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/formacion/sena.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-mortar-board"></span><p>Técnico en Mesa y Bar</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/SENA+Paloquemao/@4.6160657,-74.0909176,15z/data=!4m5!3m4!1s0x0:0xf115dcf4af3f6b19!8m2!3d4.6160657!4d-74.0909176">Bogotá D.C</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Enero de 2013</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Junio de 2013</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 592 5555</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://senahoteleriaturismoalimentos.blogspot.com/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Como complemento a la formación y experiencia que ya había adquirido en cocina, decidí tomar un curso de técnico de mesa y bar en la misma institución donde me formé como cocinero.</p>
						<br>
						<p>Aprendí todo lo básico para ser un buen mesero o mozo; normas de servicio, trinchado, servicio de bebidas y algunas preparaciones que se pueden realizar por los meseros (como la crepe suzette). También aprendí a preparar los cocteles básicos y clásicos del mundo del bar.</p>
						<br>
						<p>Finalmente, conocí el mundo del barismo, y todo lo relacionado al mundo del café, claramente de manera muy básica.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">UNAL - Física</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="formacion-fisica">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/formacion/nacional.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-mortar-board"></span><p>Estudiante de Física</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com.ar/maps/place/Universidad+Nacional+de+Colombia/@4.6381938,-74.0862351,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9bd14943c13b:0x3de530667d9ff6b0!8m2!3d4.6381938!4d-74.0840464">Bogotá D.C</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Junio de 2006 - Junio de 2008</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Enero de 2011 - Enero de 2013</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 316 5000</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://unal.edu.co/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Mientras estudiaba en el colegio, me di cuenta que tenía facilidades para las matemáticas y las ciencias exactas, además de que me agradaba la idea de aprender sobre estos temas, por esta razón quise (y quiero) estudiar algo acorde a esta línea de estudio.</p>
						<br>
						<p>Para esto, ingrese a estudiar física en la Universidad Nacional de Colombia, donde me di cuenta definitivamente que estas son las cosas que quisiera hacer en mi vida, para lo que quiero formarme y ser profesional.</p>
					</div>
				</div>
				
				<div class="m-boton-experiencia btn btn-centrado btn-blanco">SENA - Cocina</div>
				<div class="experiencia-laboral experiencia-laboral-inicio" id="formacion-cocina">
					<div class="titulo-empresa">
						<div class="logo-empresa">
							<img src="/img/sobre-mi/formacion/sena.svg" alt="">
						</div>
						<div class="info-empresa">
							<ul>
								<li class="puesto-trabajo"><span class="puesto-trabajo icon-datos-empresa icon-mortar-board"></span><p>Tecnólogo en Cocina</p></li>
								<li><span class="icon-datos-empresa icon-map-marker"></span><p><a href="https://www.google.com/maps/place/SENA+Paloquemao/@4.6160657,-74.0909176,15z/data=!4m5!3m4!1s0x0:0xf115dcf4af3f6b19!8m2!3d4.6160657!4d-74.0909176">Bogotá D.C</a></p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Desde Octubre de 2008</p></li>
								<li><span class="icon-datos-empresa icon-calendar"></span><p>Hasta Octubre de 2010</p></li>
								<li><span class="icon-datos-empresa icon-whatsapp"></span><p>(+57 1) 592 5555</p> </li>
								<li class="ultimo-dato-empresa"><span class="icon-datos-empresa icon-link"></span><p><a href="http://senahoteleriaturismoalimentos.blogspot.com/">Sitio Web</a></p></li>
							</ul>
						</div>
					</div>
					<div class="descripcion-empresa">
						<p>Hice parte de la última promoción de graduados como TECNÓLOGOS EN COCINA del SENA, ya que luego se modificó el curso a tecnólogo en gastronomía.</p>
						<br>
						<p>Personalmente estoy más de acuerdo a que mi formación fue para cocinero y no para gastrónomo, ya que esto ocupa una rama mucho más amplia que la simple elaboración de platos y el control de la cocina.</p>
						<br>
						<p>Durante estos dos años aprendí todo lo necesario para tener unas bases solidad durante el desempeño de los diferentes trabajos que pueden generarse a partir de la necesidad de servir alimentos, desde el manejo de cocinas de restaurantes u hoteles, o servicios como catering y casinos, eventos, etc.</p>
						<br>
						<a class="btn btn-centrado btn-azul" href="/pdf/certificado-cocina.pdf">Ver certificado</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id="habilidades" class="sub-main-par sub-main-margen">
		<h2>HABILIDADES</h2>
		<br>
		<p class="subtitulo-habilidades-movil">(click en ella para ver más)</p>
		<br>
		<div id="habilidades-grid">
		
			<div class="skills" id="cocina-administracion">
				<div id="imagen-administracion" class="imagen-skills">
					{{> skill-admin }}
					<br>
					<br>
					<h4>Administracion</h4>
				</div>
				<div id="descripcion-administracion" class="skill-izq descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Administración</h4>
						<br>
						<p>Buenas cualidades administrativas. Control de costos, estandarización, creación de formatos y planillas, rotulación y control de mercaderia, conocimientos en matemáticas y hojas de cálculo, además de programas de bases de datos.</p>
						<br>
						<p>Buen trato con las demás personas, respeto cordialidad, gran capacidad para colaborar y enseñar.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-normatividad">
				<div id="imagen-normatividad" class="imagen-skills">
					{{> skill-normatividad }}
					<br>
					<br>
					<h4>Normatividad</h4>
				</div>
				<div id="descripcion-normatividad" class="skill-izq descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Normatividad</h4>
						<br>
						<p>Siempre tratando de atender a la normatividad, protocolos y procesos establecidos, tanto en la cocina y el establecimiento particularmente, como a nivel local, nacional, e internacional. Todo esto gracias al conocimiento de BPS, HACCP, estándares ISO.</p>
						<br>
						<p>Buena disposición al aprendizaje y al acatamiento de normas y procesos.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-servicio">
				<div id="imagen-servicio" class="imagen-skills">
					{{> skill-servicio }}
					<br>
					<br>
					<h4>Servicios</h4>
				</div>
				<div id="descripcion-servicio" class="skill-der descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Servicio</h4>
						<br>
						<p>Carisma, amabilidad, respeto y una sonrisa para atender consultas, sugerencias y reclamos, no solamente de clientes y comensales, sino tambien de compañeros y superiores.</p>
						<br>
						<p>Con conocimientos de atención al cliente y experiencia en ventas fuera del gremio gastronómico.</p>
					</div>
					
				</div>
			</div>
		
			<div class="skills" id="cocina-caliente">
				<div id="imagen-caliente" class="imagen-skills">
					{{> skill-caliente }}
					<br>
					<br>
					<h4>Cocina Caliente</h4>
				</div>
				<div id="descripcion-caliente" class="skill-der descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Cocina Caliente</h4>
						<br>
						<p>Mi mayor experiencia en cocina está ligada a la preparación de platos en los fuegos. Conocido dentro del gremio gastronómico como “sartenear”</p>
						<br>
						<p>Platos de pastas, risottos, arroces españoles de diferentes variedades, sopas, y diferentes salteados tipo wok; además de preparaciones de salsas y guarniciones para diferentes tipos de carnes.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-fria">
				<div id="imagen-fria"class="imagen-skills">
					{{> skill-fria }}
					<br>
					<br>
					<h4>Cocina Fría</h4>
				</div>
				<div id="descripcion-fria" class="skill-izq descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Cocina Fría</h4>
						<br>
						<p>Como la mayoría, iniciaba en las cocinas frías de los diferentes sitios en los que trabajé, y aunque no me siento muy cómodo trabajando en esta área, ciertamente sé cómo se funciona.</p>
						<br>
						<p>Preparaciones frías como ensaladas, tartares,ceviches, carpaccios; ideas de garnish y tallado de fruta (básico), decoraciones de tablas de fiambres y quesos.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-reposteria">
				<div id="imagen-reposteria" class="imagen-skills">
					{{> skill-reposteria }}
					<br>
					<br>
					<h4>Repostería</h4>
				</div>
				<div id="descripcion-reposteria" class="skill-izq descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Repostería</h4>
						<br>
						<p>Aunque nunca me he desempeñado en el puesto de repostero en un restaurante, siempre me ha gustado y he aprendido algunas preparaciones y técnicas básicas.</p>
						<br>
						<p>Preparación de masas livianas y pesadas, hojaldres, mousses y bavaroises, masas quebradas, coulis, etc.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-panaderia">
				<div id="imagen-panaderia"class="imagen-skills">
					{{> skill-panaderia }}
					<br>
					<br>
					<h4>Panaderia</h4>
				</div>
				<div id="descripcion-panaderia" class="skill-der descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Panaderia</h4>
						<br>
						<p>Junto con la repostería, ha sido otra de las variantes de la cocina que me gusta preparar, y en varios mis trabajos he tenido que hacer panes de manera diaria para las diferentes preparaciones como hamburguesas, sándwich, tostadas y entremeses.</p>
						<br>
						<p>También tengo buena idea de preparación de masas como la de pasta, o masas de pizza de diferente consistencia.</p>
					</div>
				</div>
			</div>
		
			<div class="skills" id="cocina-parrilla">
				<div id="imagen-parrilla"class="imagen-skills">
					{{> skill-parrilla }}
					<br>
					<br>
					<h4>Parilla</h4>
				</div>
				<div id="descripcion-parrilla" class="skill-der descripcion-skill">
					<div class="descripcion-skill-texto">
						<h4>Parrilla</h4>
						<br>
						<p>Conocimiento básico de cortes de carne, principalmente tipo argentino, aunque de manera básica.</p>
						<br>
						<p>Manejo de los diferentes términos de cocción de una pieza de carne, control de tiempos y temperaturas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/skills.js"></script>