<section class="info-pagina">
	<section class="foto-inicio">
		<img src="/img/diseno.jpg" alt="">
	</section>
	<div id="espacio-vacio"></div>

	<div id="btn-abajo-1" class="btn-abajo">
		<a href="#main"><span class="btn-span">Ver CV</span> 
		<br> 
		<i class="fas fa-angle-double-down"></i></a>
	</div>

	<h1 class="titulo-pagina" id="titulo-pagina">Freelance</h1>
</section>

<section id="main" class="main">
	<div class="sub-main-impar sub-main-margen titulo-freelance">
		<div class="titulo-perfil-cocina">jeferson ruiz</div>
		<div id="img-freelance">
			<div id="contenedor-imagen-perfil">
				<img src="/img/sobre-mi/perfil-cocina.jpg" alt="">
			</div>
		</div>
		<div class="datos">
			<ul>
				<li><span class="icon-datos icon-birthday-cake"></span><p>28 años</p></li>
				<li><span class="icon-datos icon-whatsapp"></span><p>(+54-9) 294-4341604</p></li>
				<li><span class="icon-datos icon-map-marker"></span><p>CABA, Argentina</p></li>
				<li><span class="icon-datos icon-envelope"></span><p>jefryruiz@gmail.com</p></li>
				<li class="ultimo-dato"><span class="icon-datos icon-globe"></span><p>Colombia</p></li>
			</ul>
		</div>
	</div>
	<div class="sub-main-par sub-main-margen perfil-freelance">
		<h2>Perfil profesional</h2>
		<p>Con experiencia laboral orientada al modelado y diseño industrial, con facilidades y conocimientos en la edición de video y audio; gran aficionado de la fotografía y con muchas ganas de mejorar y aprender más sobre desarrollo web fullstack (back y front), aunque por el momento orientado principalmente a front-end, en miras de aprender desarrollo computacional. </p>
		<br>
		<p>Capacidades analíticas para resolución de problemas, sentido estético, organización y responsabilidad.</p>
	</div>
	<div class="sub-main-impar sub-main-margen">
		<h2>Mi trabajo</h2>
		<div>
			<h3>Lo puedes ver en:</h3>
			<div class="marketplaces">
				<div class="marketplace workana">
					<a href="https://www.workana.com/freelancer/29fcb8f77430ebd4a281d71f0761c6bf"><img src="/img/freelance/workana.svg" alt=""></a>
				</div>
				<div class="marketplace freelancer">
					<a href="https://www.freelancer.com.ar/u/jefryruiz"><img src="/img/freelance/freelancer.svg" alt=""></a>
				</div>
				<div class="marketplace behance">
					<a href="https://www.behance.net/jefryruiz2009"><img src="/img/freelance/behance.svg" alt=""></a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="sub-main-par sub-main-margen habilidades-freelance">
		<h2>Habilidades</h2>
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
					<a href="<?php echo RUTA_FOTOGRAFIA"><img src="/img/freelance/fotografia.svg" alt=""></a>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>Fotografía</h3>
			</div>
		</div>
		
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
					<svg-contenedor>
						<a href="<?php echo RUTA_MODELADO"><img src="/img/freelance/modelado.svg" alt=""></a>
					</svg-contenedor>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>Modelado 3D</h3>
			</div>
		</div>
		
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
				<a href="<?php echo RUTA_DISENO"><img src="/img/freelance/disenoweb.svg" alt=""></a>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>desarrollo web</h3>
			</div>
		</div>
		
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
				<a href="<?php echo RUTA_DISENO"><img src="/img/freelance/diseno.svg" alt=""></a>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>diseño</h3>
			</div>
		</div> 
		
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
				<a href="<?php echo RUTA_VIDEO"><img src="/img/freelance/video.svg" alt=""></a>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>video</h3>
			</div>
		</div>
		
		<div class="habilidad-freelance">
			<div class="imagen-habilidad-freelance">
				<div class="svg-contenedor">
				<a href="<?php echo RUTA_BLOG"><img src="/img/freelance/blog.svg" alt=""></a>
				</div>
			</div>
			<div class="titulo-habilidad-freelance">
				<h3>blog</h3>
			</div>
		</div>
	</div>
	<div class="sub-main-impar sub-main-margen herramientas-freelance">
		<h2>HERRAMIENTAS Y TECNOLOGÍAS</h2>
		<div class="tipo-herramientas herramientas-web">
			<h3>Desarrollo WEB</h3>
			<div id="herramienta-html" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/html5.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-css" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/css3.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-js" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/js.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-php" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/php.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-sql" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/sql.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
		</div>
		<div class="tipo-herramientas herramientas-modelado">
			<h3>Diseño 3D</h3>
			<div id="herramienta-rhino" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/rhinoceros.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-vray" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/vray.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-3ds" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/3dsmax.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-blender" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/blender.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
		</div>
		<div class="tipo-herramientas herramientas-audiovideo">
			<h3>Audio y Video</h3>
			<div id="herramienta-premiere" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/premiere.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-aftereffects" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/aftereffects.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-audition" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/audition.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
		</div>
		<div class="tipo-herramientas herramientas-fotografia">
			<h3>Fotografía</h3>
			<div id="herramienta-ligth" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/ligthroom.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-photoshop" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/photoshop.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
		</div>
		<div class="tipo-herramientas herramientas-diseno-texto">
			<h3>Texto, maquetación y diseño gráfico</h3>
			<div id="herramienta-indesign" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/indesign.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-illustrator" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/illustrator.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
			<div id="herramienta-latex" class="contenedor-imagen-herramienta">
				<div class="imagen-herramienta">
						<img src="/img/freelance/latex.svg" alt="">
				</div>
				<div class="texto-estrellas">
					{{> estrellas}}
				</div>
			</div>
		</div>
		
	</div>
	
</section>
<script type="text/javascript" src="/js/freelance.js"></script>