<section class="info-pagina">
	<section class="foto-inicio">
		<img src="/img/sobre-mi/sobre-mi.jpg" alt="">
	</section>
	<div id="espacio-vacio"></div>

	<div id="btn-abajo-1" class="btn-abajo">
		<a href="#main"><span class="btn-span">Ver más</span> 
		<br> 
		<i class="fas fa-angle-double-down"></i></a>
	</div>

	<h1 class="titulo-pagina" id="titulo-pagina">Sombre mi</h1>
</section>

<section id="main" class="main">
	<section id="sobre-mi-trabajos" class="sub-main-impar contenedor-imagenes-enlace sub-main-nomargen">
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="historia">
			<a href="">
				<img src="/img/sobre-mi/sobre-mi-historia.jpg" alt="">
				<h1>MI HISTORIA</h1>
			</a>
		</div>
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="freelancetrabajo" >
			<a href="/sobre-mi/freelance">
				<img src="/img/video.jpg" alt="">
				<h1>FREELANCE</h1>
			</a>
		</div>
		<div class="imagen-enlace imagen-enlace-sobre-mi" id="cocinatrabajo">
			<a href="/sobre-mi/cocina">
				<img  src="/img/sobre-mi/sobre-mi-cocina.jpg" alt="">
				<h1>COCINA</h1>
			</a>
		</div>
	</section>
</section>
