<section class="info-pagina">
	<section class="foto-inicio">
		<img src="/img/video.jpg" alt="">
	</section>
	<div id="espacio-vacio"></div>

	<div id="btn-abajo-1" class="btn-abajo">
		<a href="#main"><span class="btn-span">Ver Videos</span> 
		<br> 
		<i class="fas fa-angle-double-down"></i></a>
	</div>

	<h1 class="titulo-pagina" id="titulo-pagina">Video</h1>
</section>

<section id="main" class="main">
	
	<div class="sub-main-impar sub-main-margen video-perfil">
		<h2>¿En qué te puedo ayudar?</h2>
		<p>Tengo sólidos conocimientos en el manejo de las herramientas más populares para la edición, retoque y efectos audiovisuales, como son Adobe After Effects, Premiere Pro, y Audition.</p>
		<br>
		<p>Mis capacidades pueden dar a tus videos un toque más dinámico y especial, lograr dar a entender cosas de manera más clara, y sobretodo retener a los espectadores más tiempo para poder dar tu mensaje completo.</p>
	</div>
	
	<div class="sub-main-par sub-main-margen lista-videos">
		<h2>Algunos de mis proyectos</h2>
		<div class="video-contenedor">
			<h3>¿Qué es la Astrología?</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/8jav0pZ58Oc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Es un motion graphics realizado a petición de un usuario de workana para llevar una storyboard previamente realizada a un video animado.</p>
			</div>
		</div>
		
		<div class="video-contenedor">
			<h3>Demencia</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/FlA9iru5Wws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Este video fue desarrollado por estudiantes de cine y artes visuales, y fui parte del equipo de postproducción. Es un trabajo breve pero fue muy enriquecedor.</p>
			</div>
		</div>
		
		<div class="video-contenedor">
			<h3>Animación para presentación</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/sheYY49dJ5w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Está animación está realizada a partir de frames tomados de un programa de simulaciónes para una presentación, aquí se animó y se agregarón las medidas y longitudes necesarias.</p>
			</div>
		</div>
		
		<div class="video-contenedor">
			<h3>Al Garradh - Jhonatan Ruiz</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/n8vE6VyigUY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Video realizado de manera casera para el famoso Bols Around The World, el concurso donde anualmente participan bartenders de todo el mundo.</p>
			</div>
		</div>
		<div class="video-contenedor">
			<h3>Terminus (Lyric Video)</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/-X9_x7qNvhY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Esta fue una práctica personal donde pretendía animar un texto y un video tipo karaoke.</p>
			</div>
		</div>
		
		<div class="video-contenedor">
			<h3>Logo2D</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/f903lQvpIWs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Una animación del logo de ziur, realizado enteramente en After effects</p>
			</div>
		</div>
		<div class="video-contenedor">
			<h3>D.A.C.U.L.Q.E.S - Proyecto</h3>
			<div class="video">
				<iframe src="https://www.youtube.com/embed/eNt5j5axkjk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="descripcion-video">
				<p>Este video fue de las primeras pruebas que realice para ir aprendiendo a usar after effects.</p>
			</div>
		</div>
	</div>
</section>